@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl sm:text-2xl
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  .overlay {
    @apply bg-black/40 h-screen
  }
}



/* RESET n GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* HOVER UNDERLINE EFFECT */
.hover:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.hover span {
  display: inline-block;
}

.hover span:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 300ms;
}

.hover span:hover:after {
  width: 100%;
}

/* BTN GENERAL */
.btn {
  display: inline-block;
  background: white;
  color: black;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

/* CUSTOM IMG */
.background {
  background-image: url(https://images.unsplash.com/photo-1555396273-367ea4eb4db5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}